---
import Header from "../components/Header.astro";
import FormularioProducto from "../components/islands/FormularioProducto.jsx";
import TablaProductos from "../components/islands/TablaProductos.jsx";
import "../assets/css/style.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tori & Roll</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <Header />

    <FormularioProducto client:load />

    <br />
    <br />
    <br />
    <br />

    <TablaProductos client:load />
  </body>
</html>




