---
const { name, amount, price } = Astro.props;
---

<div class="object-text">
    <h1 class="object-title">{name}</h1>
    <h4 class="object-ammount">cantidad: <span>{amount}</span></h4>
    <h4 class="object-ammount">precio: <span>{price}</span></h4>
</div>
<div class="object-options">
    <button class="object-delete">Eliminar</button>
</div>
