---
import CartIsland from "./islands/CartIsland.jsx";
---

<div class="Carrito">
  <div class="Carrito-header">
    <div class="cross-cart close">
      <span class="close"></span>
      <span class="close"></span>
    </div>
  </div>
  <CartIsland client:load />
</div>
